body {
    background-image: url('../images/image_2.jpg');
    background-size: cover;
    align-content: center;
}

h1,
h3 {
    font-family: fantasy;
    color: rgb(78, 0, 78);
}

h1 {
    margin: 0 0px 0 20px;
}

div {
    font-family: fantasy;
    color: purple;
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 400px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 300px;
    float: left;
}

.right {
    width: 200px;
    height: 300px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
}


/*@media screen and (min-width: 815px) {
    body {
        background-image: (url'images/image_3.jpg');
    }
}*/


/*when screen is 500 and less*/

@media screen and (max-width: 500px) {
    body {
        background-image: none;
        background-color: rgb(240, 224, 4);
    }
    .right {
        float: left;
    }
}


/*when screen is within 750px and 500px    currently not working*/

@media (max-width:750px) and (min-width:500px) {
    body {
        background-image: none;
        background-image: url('../images/image_3.jpg');
    }
}


/*when screen is within 850px and 750px*/

@media (max-width:850px) and (min-width: 750px) {
    body {
        background-image: url('../images/image_1.jpg');
    }
}